html {
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
   
    height: 100%;
}
body {
    width: 100%;
}

/* Navigation section*/
header {
    width: 100%;
    border-bottom: 1px solid #555;
    background-image: url(/resources/images/game-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    right: .5rem;
}

#desktop {
    position: relative;
    top: .75rem;
    text-align: center;
}

#mobile {
    display: none;
}

.navlist {
   display: flex;
}

.navlist li {
    display: inline-flex;
    padding-right: 3.875rem;
    color: #fff;
    font-family: "Russo One";
    font-size: 2rem;
}

.navlist a {
    text-decoration: none;
}

.navlist a:visited {
    color: #fff;
}

.navlist a:hover {
    color: #dd0303d0;
}

#flexend {
    justify-content: flex-end;
    align-items: flex-end;
}

/* Games section */
.games {
    padding: 3rem 3rem;
    width: 100%;
    background: linear-gradient(45deg, indigo 50%, blue);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    right: 2rem;
    margin-top: 0;
}

.games .description {
    text-align: center;
    line-height: 1.6;
    color: #fff;
    font-family: "Russo One";
    letter-spacing: .15rem;
}

.gamedisplay {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#spaceevenly {
    justify-content: space-evenly;
    align-content: center;
}

.gamedisplay .screenshot {
    width: 34.375rem;
    height: 20.75rem;
    margin: 2.5rem 5rem 0 5rem;
    border: 2px solid #555;
    border-radius: .75rem;
    flex: 1 2 34.375rem;
    overflow: hidden;
    flex-shrink: 2;
}

 .title {
    color: #fff;
    letter-spacing: .25rem;
    font-weight: bold;
    font-size: 1.65rem;
    font-family: "Bungee";
}
.center {
    text-align: center;
}

@media only screen and (max-width:800px){
    header #mobile {
        display: block;
        width: 15rem;
        height: 11rem;
        padding: 1rem;
        margin: 0 auto;
    }

    #desktop {
        display: none;
    }
   
    .navlist li {
        display: inline-flex;
       text-align: center;
        font-size: 1.25rem;
    }

    .games {
        display: flex;
        padding: 2rem;
        background: linear-gradient(180deg, red 20%, black);
        flex-direction: column;
    }

    .gamedisplay .screenshot {
        width: 20.75rem;
        height: 14.25rem;
    }

    .games h2 {
        font-size: 2rem;
        padding-top: 0;
    }

    #console {
        display: flex;
        flex-direction: column;
        background: linear-gradient(45deg, #4506b9a9 50%, #e220a1d0);
        padding: 2rem;
    }

    .consolecolor .type {
        width: 20.75rem;
        height: 14.25rem;
   }

   .console h2 {
    font-size: 2rem; 
   }

   #copyright {
    text-align: center;
    font-size: 1.5rem;
   }
}


/* Console Section */
.console {
    padding: 3rem 3rem;
    width: 100%;
    background: linear-gradient(45deg, #4506b9a9 50%, #e220a1d0);
    position: relative;
    right: 2rem;
}

.console .description {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 3rem;
    color: #fff;
    font-family: "Russo One";
    letter-spacing: .15rem;
}

.consolecolor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.consolecolor img {
    width: 34.375rem;
    height: 27.75rem;
    margin: 2rem 12rem;
    border: 2px solid #555;
    border-radius: .75rem;
    flex-shrink: 2;
}

.color {
    text-align: center;
    color: #fff;
    letter-spacing: .25rem;
    font-weight: bold;
    font-size: 1.65rem;
    font-family: "Bungee";
}


/* Footer Section */
footer {
    width: 100%;
    border-top: 2px solid #555;
    background-color: #1a1a1afd;
    height: auto;
    margin-top: -1 !important;
    margin-left: -1 !important;
    color: #fff;
    position: relative;
    right: .5rem;
}

#contact {
    text-align: center;
    padding-top: 1.975rem;
    font-family: "Russo One";
    letter-spacing: .15rem;
}

.nintendo {
    width: 8.75rem;
    height: 2.25rem;
    padding-top: .75rem;
}

#copyright {
    margin-left: 1.25rem;
    padding-bottom: .15rem;
}